  <!-- Html Head -->
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/auth.css">
    </head>
  <!-- End of Html Head -->

  <body>
    <!-- Navigation -->
    <%- include('../partials/navigation') %>

    <!-- Main Content -->
    <main>
      <section class="signup">
        <div class="container signup__container">

          <h2 class="signup__title">Sign Up</h2>

          <!-- Sign up form -->
          <form action="/signup" method="post">
            <div class="form-control">
              <label for="name">Name</label>
              <input 
                type="text" name="name" id="name"
                value = "<%= oldInputs.name ? oldInputs.name : '' %>" />
                <% if (errors.name) { %> <span class="error"> <%= errors.name %> </span> <% } %>
            </div>
            <div class="form-control">
              <label for="email">Email</label>
              <input
                type="text" name="email" id="email"
                value = "<%= oldInputs.email ? oldInputs.email : '' %>" />
              <% if (errors.email) { %> <span class="error"> <%= errors.email %> </span> <% } %>
            </div>
            <div class="form-control">
              <label for="password">Password</label>
              <input
                type="password" name="password" id="password" 
                value = "<%= oldInputs.password ? oldInputs.password : '' %>"/>
              <% if (errors.password) { %> <span class="error"> <%= errors.password %> </span> <% } %>
            </div>
            <div class="form-control">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password" name="confirmPassword" id="confirmPassword"
                value = "<%= oldInputs.confirmPassword ? oldInputs.confirmPassword : '' %>" />
              <% if (errors.confirmPassword) { %> <span class="error"> <%= errors.confirmPassword %> </span> <% } %>
            </div>
         
            <div class="form-actions">
              <button class="btn">Signup</button>
            </div>
          </form>
          <!-- End of signup form -->
        </div>
      </section>
    </main>
    <!-- End of Main Content -->

  </body>
</html>