  <!-- Html Head -->
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/shop.css">
    </head>
  <!-- End of Html Head -->
  <body>
    <!-- Navigation -->
    <%- include('../partials/navigation') %>

    <!-- Main Content -->
    <main>
      <!-- Products Section -->
      <section class="products">
        <div class="container products__container">
          <% if(products.length === 0) { %>
            <h1>No products Avaialbe</h1>
          <% } else { %>
            <!-- Product Card -->
            <% products.forEach(product => {%>
              <div class="card">
                <img class="card__image" src="<%= product.image %>" alt="<%= product.name %>" />
                <div class="card__info">
                  <div class="card__header">
                    <span class="card__name"> <%= product.name %> </span>
                    <span class="card__price">$<%= product.price %> </span>
                  </div>
                  <p class="card__description"> <%= product.description %> </p>
                </div>
                <div class="form__actions card__actions">
                  <a href="/admin/edit-products/<%= product.id %>?editing=true" class="btn">Edit</a>
                  <form action='/admin/products/<%= product.id %>' method="post">
                    <button class="btn">Delete</button>
                  </form>
                </div>

              </div>
            <% }) %>

            <!-- End of Product Card -->
          <% } %>
        </div>

        <!-- pagination -->
        <%- include('../partials/pagination') %>

      </section>
      <!-- End of Products Section -->
    </main>
    <!-- End of Main Content -->

  </body>
</html>