  <header>
    <div class="container header">
      <!-- Logo -->
      <div class="logo">
        <a href="/">
          <h1>Sugar<span class="logo__span">fever</span></h1>
        </a>
      </div>
      <!-- Navbar -->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" class="nav__link <%= path === '/' ? 'active' : '' %> ">Home</a>
          </li>
          <li class="nav__item">
            <a href="/products" class="nav__link <%= path === '/products' ? 'active' : '' %> ">Products</a>
          </li>
          <li class="nav__item">
            <a href="/cart" class="nav__link <%= path === '/cart' ? 'active' : '' %> ">Cart</a>
          </li>
          <li class="nav__item">
            <a href="/orders" class="nav__link <%= path === '/orders' ? 'active' : '' %> ">Orders</a>
          </li>
          <li class="nav__item">
            <a href="/admin/add-product" class="nav__link <%= path === '/admin/add-product' ? 'active' : '' %> ">Add Product</a>
          </li>
          <li class="nav__item">
            <a href="/admin/products" class="nav__link <%= path === '/admin/products' ? 'active' : '' %> ">Admin Products</a>
          </li>
        </ul>
      </nav>
      <!-- End of Navbar -->
    </div>
  </header>